
/* styles.css */


  .our-team
   {
    padding: 20px 0px;
  
    text-align: center;
  }
  
  .team-members
   {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
 
  }
  .team-member:hover{
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
   

  }
  
  .team-member
   {
    margin: 20px;
    width: 300px;
    padding: 10px;
    font-size: 20px;
  }
  
  .team-member img
  {
    width: 150px;
    border-radius: 50%;
  }
  
  
